# Surface DTX Configuration


[log]
# Log format options.

level = "info"
#   The level used for logging.
#   Valid options are trace, debug, info, warning, error, and critical.


[handler]
# Event handler scripts.
# All paths are relative to this file.

detach = "./detach.sh"
#   The script to be executed before unlocking the clipboard.
#   If unspecified, no handler will be executed.

detach_abort = "./attach.sh"
#   The script to be executed after the detach-process has been aborted.
#   This script will be executed only after completion of the detach script.
#   If unspecified, no handler will be executed.

attach = "./attach.sh"
#   The script to be executed after the clipboard has been attached.
#   Before execution, the delay specified in delay.attach will be waited to
#    allow for all devices to be set up correctly.
#   If unspecified, no handler will be executed.


[delay]
# Specify handler execution delays.

#attach = <numeric>
#   The delay in seconds to wait before executing the attach handler.
#   Defaults to 5 (seconds).
