Source: surface-dtx-daemon
Section: misc
Priority: optional
Maintainer: Maximilian Luz <luzmaximilian@gmail.com>
Build-Depends: build-essential, debhelper (>= 10), cargo, rustc (>= 1.34.0), libdbus-glib-1-dev 

Package: surface-dtx-daemon
Architecture: amd64
Depends: libc6 (>= 2.19), libgcc1 (>= 1:4.9.2), libdbus-1-3
Description: Surface Detachment System (DTX) Daemon
