[Unit]
Description=Surface Detachment System (DTX) Daemon
Documentation=https://github.com/qzed/linux-surface-dtx-daemon
After=dev-surface_dtx.device
Wants=dev-surface_dtx.device

[Service]
Type=simple
ExecStart=/usr/bin/surface-dtx-daemon

[Install]
WantedBy=multi-user.target
