[Unit]
Description=Surface Detachment System (DTX) User Daemon
Documentation=https://github.com/linux-surface/surface-dtx-daemon
After=basic.target
ConditionUser=!root

[Service]
Type=simple
ExecStart=/usr/bin/surface-dtx-userd

[Install]
WantedBy=default.target
